<h1>Adding a user</h1>
<form action="post-user" method="POST">
    <label>
        Name
        <input name="name"/>
    </label>
    <br><br>
    <label>
        Age
        <input name="age" type="number" min="1" max="110" />
    </label>
    <br><br>
    <input type="submit" value="Отправить" />
</form>
<a href="/users">Back to the list of users</a>