<div class="main">
    <div class="about">
        <div class="description_title"><h2>Сервис по распознаванию человеческой активности</h2></div>
        Наш сервис распознает распознает различные параметры человеческой активности в видеопотоке с использованием нейроускорителя (Google Coral).</br></br>
        К распознаванию доступны следующие характеристики:
        <ul>
            <li>Положение частей тела человека относительно тела</li>
            <li>Вид выполняемой активности</li>
            <li>Углы между суставами</li>
        </ul>
    </div>
</div>

